<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.back.salcho.board.mapper.BoardMapper">
    <select id="getBoardList" resultType="BoardEntity">
        SELECT BOARD_ID as "boardId"
             , BOARD_TYPE as "boardType"
             , TITLE as "title"
             , CONTENTS as "contents"
             , USER_ID as "userId"
             , REG_DATE as "regDate"
             , UPT_DATE as "uptDate"
             , LIKES as "likes"
             , COUNTS as "counts"
        FROM BOARD
    </select>

    <insert id="insertBoard" parameterType="BoardEntity">
        INSERT INTO BOARD
        (BOARD_TYPE
        , TITLE
        , CONTENTS
        , USER_ID
        , REG_DATE
        , UPT_DATE
        , LIKES
        , COUNTS)
        VALUES(#{boardType}
              , #{title}
              ,#{contents}
              ,#{userId}
              , now()
              , now()
              , 0
              , 0)
    </insert>
</mapper>